<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
<%= stylesheet_link_tag 'jquery.tagit' %>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>

  <%= javascript_include_tag 'tag-it.js' %>
<%= form_for :conversation, url: :conversations, html: { class: "" } do |f| %>
    <div class="form-group">
      <%= f.label :recipients %>
      <% if @friend.nil? %>
        <%= f.text_field :recipients, placeholder: "Friends Name", id: "autocomplete-friend" %>
        <% else %>
        <%# binding.pry %>
        <%=  %>
        <%= f.text_field :recipients, value: "#{@friend.name}" %>
        <% end %>
      <%# f.text_field(:recipients, current_user.friends.collect {|p| [ p.name, p.id ] }, {}, { multiple: true , class: "form-control" })%>
    </div>
    <div class="form-group">
      <%= f.label :subject %>
      <%= f.text_field :subject, placeholder: "Subject", id: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :message %>
      <%= f.text_area :body, class: 'form-control',placeholder: "Type your message here", rows: 4  %>
    </div>
    <%= f.submit "Send Message", class: "btn btn-success" %>


<% end %>

<script>
$( "#autocomplete-friend" ).autocomplete({
  source: <%= raw current_user.friends.collect{|x| x.name} %>
});
</script>
