<% @user.badges.each do |badge| %>
<h3>You achieved : <%= badge.name %> for <%= badge.description %></h3>
<%= image_tag("#{badge.image_url}", size: "300x300") %><br>
<% end %>
<br><br>

<% Badge.all.each do |badge| %>
	<%if !@user.badges.include?(badge) %>
		to be <%= badge.name %><br>
		require:<%= badge.description %><br><br>
	<% end %>
<% end %>
