<div class="userProfileAvatar">
<h2><%= @user.name %></h2>
<% if @user.images.count > 1 %>
  <%=image_tag("http://flatirontours.s3.amazonaws.com/#{@user.images.last.image_url}", size:"100x100")%>
  <% elsif @user.images.empty? %>
    <img src="http://ih1.redbubble.net/image.38250018.7772/flat,550x550,075,f.u1.jpg">
    <% else %>
    <%= image_tag(@user.images.last.image_url, size:"100x100") %>
    <h2><%= @user.name %></h2>
  <% end %>
</div>

<% if !@user.badges.empty? %>
<div class="userBadgesContainer">
    <% @user.badges.each do |badge| %>
      <div class="userBadge">
    <%= image_tag("#{badge.image_url}", size: "300x300") %><br>

  </div>
<% end %>
<% else %>
    <h4>This user doesn't currently have any <%= link_to("badges!", user_badges_path(@user)) %></h4>
</div>

<% end %>

  <div class="profileListContainer">
  <div class="userToursList">
      <h3><%= @user.name %> Tours</h3>
      <% @tours.each do |guide| %>
        <%= link_to guide.title, tour_path(guide.id)  %><br>
        <% end %>
        </div>


        <div class="userCurrentToursList">
          <h3>Tours I'm On</h3>
        <% @trips.each do |participant| %>
          <%= participant.title %>
          <%= participant.description %>
          <%= link_to 'Go To Tour', tour_path(participant.id) %><br>
        <% end %>
          </div>


      <div class="userFriendsList">
      <h3>Friends</h3>

        <% @user.friends.each do |friend| %>
          <%= link_to "#{friend.name}", user_path(friend) %>
          <% if current_user == @user %>
              | <%= link_to "Remove", friendship_path(:id => friend), :method => :delete %>
          <% end %>
      <% end %>
      </div>
      </div>
