<!-- <div class="eventImage">
  <div class="eventDescription">
    <div class="element"><h2></h2></div>
  </div>
</div> -->


<div class="citiesList">
<% City.all.each_with_index do |city, index| %>
      <div class="cityImage">
    <%= form_for :search, url: searches_path  do |f| %>
    <%= f.hidden_field :tags %>
    <%= f.hidden_field :city, :value => city.name %>
    <%= f.submit city.accent, :id => "city#{index}" %>
  <style>
    <%=  "#city#{index}" %>
    {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= city.image %>);
  background-color: black;
  font-size:35pt;
  color: white;
  height: 400px;
  width: 400px;
  /*background:url(<%= city.image %>) no-repeat center;*/
  background-size: 400px 400px;
  border: 0;
  cursor: pointer;
    }
  </style>

  <% end %>
      </div>
<% end %>

</div>

<div class="footerCredits">
  <h4>
    By Andrew Cabrera, Anton Halim, David Lorente and In Ho Hwang.
    <br>Created with ❤️ at Flatiron School.</h4>

  </h4>
</div>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= javascript_include_tag 'typed.js' %>
  <%# stylesheet_link_tag 'application.css.scss' %>

  <script>
  $(function(){
    $(".element").typed({
      strings: ["Created with ❤️", "Andrew Cabrera", "Anton Halim", "David Lorente", "In Ho Hwang"],
      typeSpeed: 0,
      backDelay: 500,
      loop: true,
      loopCount: true,
      cursorChar: "💴 💴 💴 💴",
      callback: function(){ foo(); },
      resetCallback: function() { newTyped(); }
    });
    $(".reset").click(function(){
        $("#typed").typed('reset');
    });
  });

  function newTyped(){ /* A new typed object */ }
  function foo(){ console.log("Callback"); }

  $( "#autocomplete-city" ).autocomplete({
    source: <%= raw City.pluck(:name) %>
  });
  $( "#autocomplete-tag" ).autocomplete({
    source: <%= raw Tag.pluck(:name) %>
});

</script>
