<div class="tourBodyContainer">

<% @tour.locations.each_with_index do |location, i| %>
<% unless i >= @tour.locations.count-1 %>
<br>
<p id="demo"></p>
<h1><%= location.title %></h1>
<p><%= location.address %></p>

<script>
var directionsDisplay<%= i %>;
var directionsService<%= i %> = new google.maps.DirectionsService();
var map<%= i %>;

function initialize() {
  directionsDisplay<%= i %> = new google.maps.DirectionsRenderer();
  var myMap<%= i %> = new google.maps.LatLng(<%= raw location.lat %>,<%= raw location.lng %>);
  var mapOptions<%= i %> = {
    zoom:15,
    center: myMap<%= i %>
  };
  map<%= i %> = new google.maps.Map(document.getElementById("map-canvas<%= i %>"), mapOptions<%= i %>);
    var marker<%= i %> = new google.maps.Marker({
    position: myMap<%= i %>,
    map: map<%= i %>,
    title: 'Hello World!'
  });
  directionsDisplay<%= i %>.setMap(map<%= i %>);
  directionsDisplay<%= i %>.setPanel(document.getElementById('directions-panel<%= i %>'));

  showPosition<%= i %>();

}

function showPosition<%= i %>() {
  var end<%= i %> = "<%= raw location.lat %>,<%= raw location.lng %>";
  var start<%= i %> = "<%= raw @tour.locations[i+1].lat %>,<%= raw @tour.locations[i+1].lng %>";
  var request<%= i %> = {
      origin:start<%= i %>,
      destination:end<%= i %>,
      travelMode: google.maps.TravelMode.TRANSIT
  };
  directionsService<%= i %>.route(request<%= i %>, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay<%= i %>.setDirections(response);
    }
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>

    


<div id="map-canvas<%= i %>" style="min-width:300px; max-width: 80%; height:380px;"></div>
    <!-- <button onclick="showPosition()">Get Directions</button> -->

<div id="directions-panel<%= i %>" style="min-width:300px; max-width: 80%; " ></div>


<% end %>
<% end %>

</div>
