<% @tours.each do |tour| %>
	<%= tour.title %><br>
	<%= tour.description %><br><br>
	All The locations of this tour is : <br>
		<% tour.locations.each do |location| %>
		<li>
			<ul><%= location.title %></ul>
			<ul><%= location.lat %></ul>
			<ul><%= location.lng %></ul>
		</li>
			<% end %>
	<%= link_to 'Review this tour' %>
<% end %>
