<% @tours.each do |tour| %>
<% if !tour.images.empty? %>
  <%= image_tag(tour.images[0].image_url, height: '100') %>
<% end %>
<h3><%= link_to tour.title, tour_path(tour)  %><h3>
<h4><%= tour.description %></h4>
<% tour.tags.each do |tag|%>
<li><%= tag.name %></li>
<% end %>
<% tour.cities.each do |city|%>
<%= city.accent %>
<% end %>
<% if tour.average_score.nil? %>
<h4>No Ratings Yet!</h4>
<% else %>
<h1><%= tour.average_score %></h1>
<% end %>

<%= link_to 'See Tour', tour_path(tour) %>
<br><br>
<% end %>

