
<div class="resultsContainer">
<% @tours.each_with_index do |tour, index| %>
<%= link_to tour_path(tour) do  %>
<div class="tourResult">
<% if !tour.images.empty? %>
<!-- <div id="tourImage"> -->
  <%# image_tag(tour.images[0].image_url, height: '200') %>

<!-- </div> -->

<div class="thumb<%= index %>"></div>
<style>
    .thumb<%= index %> {
    background: url(<%= tour.images[0].image_url %>);
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    }
</style>

<% end %>

<div class="tourDescriptionResults">
<h2><%= tour.title %></h2>
<% if tour.description.size >= 90 %>
<p><%= tour.description[0...87]+= "..." %></p>
<% else %>
<p><%= tour.description %></p>
<% end %>
<% tour.cities.each do |city|%>
<p class="tourCities"><%= city.accent %></p>
<% end %>
<% if tour.average_score.nil? %>
<h4>No Ratings Yet!</h4>
<% else %>
<p class="tourScore"><%# tour.average_score %></p>
<div class="rating" data-score=<%= tour.average_score %> ></div>
<% end %>
</div>





<%# link_to 'See Tour', tour_path(tour) %>

</div>
<% end %>
<% end %>
</div>

<script>
$('.rating').raty({
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
