
<div id="resultsContainer">
<% @tours.each do |tour| %>
<%= link_to tour_path(tour) do  %>
<div id="tourResult">
<% if !tour.images.empty? %>
<div id="tourImage">
  <%= image_tag(tour.images[0].image_url, height: '200') %>
</div>
<% end %>
<h3 class="tourTitle"><%= tour.title %></h3>
<div id="tourDescription">

<% if tour.description.size >= 90 %>
<p><%= tour.description[0...87]+= "..." %></p>
<% else %>
<p><%= tour.description %></p>
<% end %>
</div>




<% tour.cities.each do |city|%>
<p id="tourCities"><%= city.accent %></p>
<% end %>
<% if tour.average_score.nil? %>
<h4>No Ratings Yet!</h4>
<% else %>
<p id="tourScore">Rating:<%# tour.average_score %></p>
<div class="rating" data-score=<%= tour.average_score %> ></div>
<% end %>
<%# link_to 'See Tour', tour_path(tour) %>

</div>
<% end %>
<% end %>
</div>

<script>
$('.rating').raty({
  readOnly: true,
  score: function() {
    return $(this).attr('data-score');
  }
});
</script>
