<nav>
  <div class="searchBar">
    <%= form_for :search, url: searches_path  do |f| %>
    <%= f.label :city %>
    <%= f.text_field :city, placeholder: "New York", id: "autocomplete-city" %>
    <%= f.label :category %>
    <%= f.collection_select :category, Category.all, :name, :name %>
    <%= f.label :tags %>
    <%= f.text_field :tags, placeholder: "Music", id: "autocomplete-tag" %>
    <%= f.submit "Find" %>
  <% end %>
  </div>
  <div class="userSettings">
  <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
    <%= link_to 'Profile', current_user %>
    <%= link_to "Inbox", mailbox_inbox_path %>
    <%= link_to 'Edit Profile', edit_user_registration_path if current_user.provider.nil? %>
    <%= link_to 'New Tour', new_tour_path %>
    <%= link_to "Badges", user_badges_path(current_user) %></li>
  <% else %>
    <%= link_to 'Log In', new_user_session_path %>
    <%= link_to 'Register', new_user_registration_path %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <% end %>
</div>
</nav>
<script>
$( "#autocomplete" ).autocomplete({
  source: <%= raw Tag.pluck(:name) %>
});
$( "#autocompletecity" ).autocomplete({
  source: <%= raw City.pluck(:name) %>
});
</script>
