<nav>
    <%= link_to image_tag("logo/Logo.png", height: "45px"), root_path%>
  <div class="searchBar">
    <%= form_for :search, url: searches_path  do |f| %>
    <%= f.text_field :city, placeholder: "New York", id: "autocomplete-city" %>
   <label class="select"><%= f.collection_select(:category, Category.all, :name, :name, {:prompt => 'Choose a Category'}) %></label>

    <%= f.text_field :tags, placeholder: "Music", id: "autocomplete-tag" %>
    <%= f.submit "Find", class: "linkBtnSmall" %>
  <% end %>
  </div>
  <div class="userSettings">
  <% if user_signed_in? %>
    <%= link_to '<i class="fa fa-user"></i>'.html_safe, current_user %>
    <%= link_to '<i class="fa fa-inbox"></i>'.html_safe, mailbox_inbox_path %>
    <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_tour_path %>
    <%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to '<i class="fa fa-sign-in"></i>'.html_safe, new_user_session_path %>
    <%= link_to '<i class="fa fa-user"></i>'.html_safe, new_user_registration_path %>
    <%= link_to '<i class="fa fa-facebook-official"></i>'.html_safe, user_omniauth_authorize_path(:facebook) %>
  <% end %>
</div>
</nav>
<script>
$( "#autocompletetag" ).autocomplete({
  source: <%= raw Tag.pluck(:name) %>
});
$( "#autocompletecity" ).autocomplete({
  source: <%= raw City.pluck(:name) %>
});
</script>
