<!DOCTYPE html>
<html>
<head>
  <title>Toursapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/raty/jquery.raty.js"></script>
  <link rel="stylesheet" href="/raty/jquery.raty.css">

</head>
<body>
  <%= render 'layouts/nav' %>

  <% flash.each do |key, value| %>
    <div class="text-center <%= flash_class(key) %>">
    <%= value %>
    </div>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>


</body>
</html>
