<!DOCTYPE html>
<html>
<head>
  <title>Toursapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="/raty/jquery.raty.js"></script>
  <link rel="stylesheet" href="/raty/jquery.raty.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
  <%= render 'layouts/nav' %>

<br><br><br><br>



  <div class="container">
    <%= yield %>
  </div>


    <% flash.each do |key, value| %>
    <div id="flash" class="text-center <%= flash_class(key) %>">
    <%= value %>
    </div>
  <% end %>

</body>
</html>
